<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie_id ? "Update Movie" : "Add Movie" %></title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1><%= movie_id ? "Update Movie" : "Add Movie" %></h1>
    <form action="<%= movie_id ? `/${movie_id}/update` : '/' %>" method="post">
        <label for="title">Movie Title:</label>
        <input 
            type="text" 
            name="title" 
            id="title" 
            value="<%= title || '' %>" 
            required>
        
        <label for="rating">Rating:</label>
        <input 
            type="number" 
            name="rating" 
            id="rating" 
            value="<%= rating || '' %>" 
            required>
        
        <label for="release_year">Release Year:</label>
        <input 
            type="number" 
            name="release_year" 
            id="release_year" 
            value="<%= release_year || '' %>" 
            required>
        
        <button type="submit"><%= movie_id ? "Update" : "Add" %></button>
    </form>
</body>
</html>
