<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmentory</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 style="font-size: 56px;">Filmentory</h1>
    <a href="/">All Films</a>
    <a href="/genre">Films By genre</a>
    <a href="/new">Add a new movie</a>
    <form action="/search" method="get">
        <label for="search">Search</label>
        <input type="text" name="search">
        <button type="submit">Search</button>
    </form>
    <ul>
        <%movies.map((movie)=>{ %>
            <li>ID: <%= movie.movie_id%>, Movie name: <%= movie.title%>, Rating: <%= movie.rating%>, Release year: <%= movie.release_year%>
                <br>
                <br>
                <form action="/<%=movie.movie_id%>/update" method="post">
                    <button type="submit">Edit</button>
                </form>
                <br>
                <form action="/<%=movie.movie_id%>/delete" method="post">
                    <button type="submit">Delete</button>
                </form>
                <br>
            </li>
        <% }) %>
    </ul>
</body>
</html>