<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmentory</title>
</head>
<body>
    <h1>Movies available rn</h1>
    <a href="/">All Films</a>
    <a href="/genre">Films By genre</a>
    <a href="/new">Add a new movie</a>
    <form action="/search" method="get">
        <label for="search">Search</label>
        <input type="text" name="search">
        <button type="submit">Search</button>
    </form>
    <ul>
        <%movies.map((movie)=>{ %>
            <li>ID: <%= movie.movie_id%>, Movie name: <%= movie.title%>, Rating: <%= movie.rating%>, Release year: <%= movie.release_year%>
                <br>
                <br>
                <form action="/<%=movie.movie_id%>/update" method="post">
                    <button type="submit">Edit</button>
                </form>
                <br>
                <form action="/<%=movie.movie_id%>/delete" method="post">
                    <button type="submit">Delete</button>
                </form>
                <br>
            </li>
        <% }) %>
    </ul>
</body>
</html>